body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 20px;
    text-align: center;
}

h1 {
    color: #333;
}

.avatar {
    width: 150px;
    border-radius: 50%;
    margin: 15px 0;
}

p {
    max-width: 400px;
    margin: auto;
    font-size: 16px;
    color: #141212;
}

table {
    margin: 20px auto;
    border-collapse: collapse;
    width: 50%;
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: white;
}

form {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 50%;
    margin: 20px auto;
    text-align: left;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    margin: 5px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.botones {
    margin-top: 20px;
}
